[tools]
# Go
go = "1.25"
golangci-lint = "2"
"go:golang.org/x/vuln/cmd/govulncheck" = "latest"

# YAML
uv = "latest" # for install yamllint

# Markdown
markdownlint-cli2 = "latest"

# JSON
biome = "latest"

# GitHub Actions
actionlint = "latest"
shellcheck = "latest"

# Other tools
lefthook = "latest"
